<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestaurantRoulette.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D8DE64A1E9BE2040024FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D8DE65E1E9BE2050024FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D8DE6691E9BE2050024FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
